body {
    background: #F9FAFE;
    margin: 0;
    min-width: 1024px;
    max-width: 100%;
    font-family: 'Ubuntu', serif;
}

input::-webkit-input-placeholder, /* WebKit browsers */
input:-moz-placeholder, /* Mozilla Firefox 4 to 18 */
input::-moz-placeholder, /* Mozilla Firefox 19+ */
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #CCCCCC;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input,
select,
textarea,
button {
    font-family: 'Ubuntu', serif;
}


select {
    -webkit-appearance: none;
    background: url("../images/arrow.svg") no-repeat;
    background-position: right center;
    background-position-x: 98%;
    background-color: #FFF;
    font-family: 'Ubuntu', serif;
    padding: .8rem 1rem;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #D3D5DE;
    width: 100%;
}

select:invalid {
    color: #CCCCCC !important;
}

input[type="search"] {
    font-family: 'Ubuntu', serif;
    padding: .8rem 1rem;
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #D3D5DE;
}

input[type="search"]:disabled {
    background-color: #e6e8f2 !important;
}

button:disabled, button:hover:disabled {
    cursor: not-allowed;
    background: #ABD0FE;
}

/* CHECK */
.control {
    font-family: arial, serif;
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 16px;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control_indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 15px;
    width: 15px;
    background: #ffffff;
    border-radius: 3px;
    border: 2px solid #4C9CFF;
}

.control-radio .control_indicator {
    border-radius: 3px;
}

.control input:checked ~ .control_indicator {
    background: #4C9CFF;
}

.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}

.control input:checked ~ .control_indicator:after {
    display: block;
}

.control-checkbox .control_indicator:after {
    left: 6px;
    top: 2px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}
