.btn-lg {
    padding: .5rem 1rem;
    font-size: 14px;
    width: 250px;
    line-height: 1.5;
}

.btn-xl {
    padding: .8rem 1rem;
    font-size: 16px;
}

.btn-primary,
.btn-secondary,
.btn-third {
    font-family: 'Ubuntu', serif;
    color: #FFF;
    border-radius: 5px;
    border: none;
    transition-duration: 0.4s;
    cursor: pointer;
    padding: .5rem 1rem;
    line-height: 1.5;
}

.btn-primary {
    background: #4C9CFF;
}

.btn-primary:hover {
    background: #1E82FE;
}

.btn-secondary {
    background: #EFA00F;
}

.btn-secondary:hover {
    background: #C58715;
}

.btn-third {
    background: #DDBB7E;
}

.btn-third:hover, .btn-third:focus {
    background: #BB9B63;
}
