
.nota:hover, .nota:active, .nota:focus{
    color: #fff;
    background-color: #07a226;
}

.iconoNota{
    color: #1139de;
}

.iconoPago{
    color: #07a226;
}


.nota:hover > .nota{
    color: #fff;
}
