/*
*= require typography
*= require shorthands
*= require base
*= require buttons
*= require_self
*/

.login-bg {
    background:black url("bg_login.jpg") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.login-box {
    background: #484f6070;
    border-radius: 5px;
    width: 800px;
    height: 500px;
    margin: 8% auto 0;
    align-content: center;
}

.login-form {
    display: inline-block;
    margin: 5% 0 0 8%;
}

#fgjez {
    margin: 0 10% 15% 8%;
}

#cafi {
    margin: 0 auto;
    display: block;
}

#username, #password {
    display: block;
    width: 215px;
    background: transparent;
    padding: 5px 0 7px 35px;
    color: #fff;
    border: none;
    border-bottom: 1px solid #8F9096;
}

#username:focus, #password:focus {
    border-bottom: 1px solid #fff;
}

#username {
    background: url("../images/ic_user_login.svg") no-repeat 10px 5px;
}

#password {
    background: url("../images/ic_pass_login.svg") no-repeat 10px 5px;
}

.error {
    text-align: center;
    font-size: 12px;
    color: red;
}
